<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give me back my son</title>

    <link rel="stylesheet" href="/node_modules/siimple/dist/siimple.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div class="siimple-navbar siimple-navbar--yellow siimple-navbar--fluid">
    <div class="siimple-layout--left">
        <a href="/" class="siimple-navbar-title">{{ cookiecutter.project_slug }}</a>
    </div>
    <div class="siimple-layout--right">
        <a href="#" class="siimple-navbar-link" target="_blank">Link #1</a>
        <a href="#" class="siimple-navbar-link" target="_blank">Link #2</a>
    </div>
</div>
<div class="siimple-grid">

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--12">
            <div id="data-form" class="siimple-form text-center">
                <label class="siimple-label">Input field</label>
                <input type="text" class="siimple-input" placeholder="0123456789" maxlength="10">
            </div>
        </div>
    </div>

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--12">
            <span class="siimple-tag siimple-tag--navy">Navy tag</span>
            <span class="siimple-tag siimple-tag--green">Green tag</span>
            <span class="siimple-tag siimple-tag--teal">Teal tag</span>
            <span class="siimple-tag siimple-tag--blue">Blue tag</span>
        </div>
    </div>

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--6">
            <div class="siimple-alert siimple-alert--pink">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </div>
            <div class="siimple-alert siimple-alert--red">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </div>
            <div class="siimple-alert siimple-alert--orange">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </div>
            <div class="siimple-alert siimple-alert--yellow">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </div>
            <div class="siimple-alert siimple-alert--grey">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </div>

            <div class="siimple-box siimple-box--teal">
                <div class="siimple-box-title">Box title</div>
                <div class="siimple-box-subtitle">This is the box subtitle</div>
                <div class="siimple-box-detail">This is the box detail text</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
